[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-restframework = "*"
django-cors-headers = "*"
psycopg2 = "*"
django-rest-framework = "*"
coreapi = "*"

[requires]
python_version = "3.8"
